<div class="input-container"
     [ngClass]="{ 'focused': isFocused | async,
                  'opened': (isOpened | async) 
                  && (completionVariants | async)?.length  }">
    <input type="text" class="input"
       #input
       [placeholder]="placeholder"
       [formControl]="inputControl"
       (focus)="isFocused.next(true)"
       (blur)="isFocused.next(false)"
       (keyup.enter)="searchButton.click()">
    <button class="search-button icon-button"
        #searchButton
        (click)="search(); input.blur()">
        <img class="icon"
            src="assets/lens.svg" 
            alt="search">
    </button>
</div>

<div class="completion-container"
     *ngIf="completionVariantsShown | async as variants"
     [@heightIncrease]>
    <div class="variant-animation-container"
        *ngFor="let variant of variants"
        (click)="selectVariant(variant)"
        [@heightIncrease]>
        <div class="variant">
            {{ variant }}
        </div>
    </div>
</div>
