<div class="input-container"
     [ngClass]="{ 'focused': isFocused | async,
                  'opened': (isOpened | async) 
                  && (completionVariants | async)?.length  }">
    <input type="text" class="input"
       #input
       [placeholder]="placeholder"
       [formControl]="inputControl"
       (focus)="isFocused.next(true)"
       (blur)="isFocused.next(false)"
       (keyup.enter)="searchButton.click()">
    <button class="search-button"
        #searchButton
        (click)="search(); input.blur()">
        <img src="assets/lens.svg" alt="search">
    </button>
</div>

<div class="completion-container"
     [ngClass]="{ 'shown': isOpened | async }">
    <div class="variant"
        *ngFor="let variant of completionVariants | async"
        (click)="selectVariant(variant)">
        {{ variant }}
    </div>
</div>
