:host {
  display: block;
  height: 100vh;
  overflow: hidden;

  .loading-spinner {
    position: absolute;
    right: 40px;
    bottom: 25px;
    z-index: 1;

    opacity: 0;

    transition: var(--transition-base);

    pointer-events: none;

    &.shown {
      opacity: 1;

      pointer-events: auto;
    }
  }
}
