:host {
  display: block;
  height: 100vh;
  overflow: hidden;

  .top-controls {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    pointer-events: none;

    * {
      pointer-events: auto;
    }

    .map-container {
      position: relative;

      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: center;

      pointer-events: none;

      .layers-toggles {
        position: absolute;
        top: 0;
        right: 0;

        display: flex;
        flex-direction: column;
        gap: 20px;

        margin-top: 25px;
        margin-right: 40px;

        .marker-toggles,
        .heatmap-toggles {
          display: flex;
          flex-direction: column;
          gap: 10px;

          border-radius: 25px;

          background: var(--color-background);
        }
      }

      .object-info {
        z-index: 2;

        transition: var(--transition-default);

        &.hidden {
          opacity: 0;

          pointer-events: none;
        }
      }
    }
  }

  .toggle-container {
    position: absolute;
    top: 25px;
    right: 40px;
    z-index: 1;

    display: flex;
    gap: 25px;
  }

  .loading-spinner {
    position: absolute;
    right: 40px;
    bottom: 25px;
    z-index: 1;

    opacity: 0;

    transition: var(--transition-default);

    pointer-events: none;

    &.shown {
      opacity: 1;

      pointer-events: auto;
    }
  }
}

.test {
  position: absolute;
  top: 30%;
  left: 30%;
  z-index: 10;
}
