<!-- eslint-disable -->
<div class="blur-container"
     [ngClass]="{ 'loading': loading.isShown | async }">
    <tp-map 
        class="map"
        [heatmaps]="heatmaps | async"
        [markerLayerSources]="markerLayers | async"
        [popups]="popups | async"
        [event]="mapEvent | async"
        [polygonDraw]="polygonDrawMode | async"
        (polygonDrawChange)="polygonSelection.next($event)"
        [polygon]="forcePolygon | async"
        [polygonLayerSources]="polygonSources | async"
        [boundsPadding]="mapBoundsPadding | async"
        (mapLoad)="loading.toggle('map', false)"
        (markerLayerLoad)="loading.toggle('marker', false)"
        (heatmapLoad)="loading.toggle('heatmap', false)"
        (mouseMove)="mapMouseMove.next($event)"
    ></tp-map>

    <div class="top-controls">
        <tp-sport-object-filter-bar 
            class="filter-bar"
            [filterSources]="(markerFilterSources | async) || []"
            [nameVariants]="(nameVariants | async) || []"
            (filterRequest)="filterRequest.next($event)"
        ></tp-sport-object-filter-bar>

        <tp-sport-area-dashboard 
            #dashboard
            class="dashboard"
            [ngClass]="{ 'hidden': (mode.hasContent('polygon-dashboard') | async) === false }"
            [objects]="dashboardObjects | async"
            [analytics]="dashboardAnalytics | async"
            [areas]="dashboardAreas | async"
            (closeDashboard)="mode.removeContent('polygon-dashboard')"
            (analyticsExport)="analyticsDownload.next($event)"
        ></tp-sport-area-dashboard>

        <div class="map-container">
            <tp-sport-object-full-info 
                class="object-info"
                *ngIf="mode.hasContent('object-info') | async"
                [@scaleIncrease]
                [obj]="(fullInfoObject | async)?.obj"
                [sportAreas]="(fullInfoObject | async)?.areas"
                (infoClose)="mode.clearContent()"
            ></tp-sport-object-full-info>

            <tp-polygon-saving-settings 
                class="polygon-saving"
                *ngIf="mode.hasContent('polygon-saving') | async"
                [@scaleIncrease]
                (closeSettings)="onTogglePress(false, 'polygon-saving')"
                (drawPolygon)="settingsAwaitingPolygon.next($event)"
                [newPolygon]="newPolygon | async"
                (polygonView)="forcePolygon.next($event)"
                [event]="polygonEvent | async"
            ></tp-polygon-saving-settings>

            <div class="layers-toggles">
                <tp-tooltip
                    text="Работа со слоями"
                    position="left">
                    <tp-map-toggle
                        [isPressed]="!!(mode.hasContent('polygon-saving') | async)"
                        (pressChange)="onTogglePress($event, 'polygon-saving')"
                        lightIcon="assets/light/layers.svg"
                        darkIcon="assets/dark/layers.svg"    
                    ></tp-map-toggle>
                </tp-tooltip>

                <div class="marker-toggles">
                    <tp-tooltip
                        text="Нарисовать область"
                        position="left">
                        <tp-map-toggle
                            [isPressed]="!!(mode.hasMode('polygon-draw') | async)"
                            (pressChange)="onTogglePress($event, 'polygon-draw')"
                            lightIcon="assets/light/polygon.svg"
                            darkIcon="assets/dark/polygon.svg"    
                        ></tp-map-toggle>
                    </tp-tooltip>
                    <tp-tooltip
                        text="Спортивные объекты"
                        position="left">
                        <tp-map-toggle
                            [isPressed]="!!(mode.hasMode('marker') | async)"
                            (pressChange)="onTogglePress($event, 'marker')"
                            lightIcon="assets/light/marker.svg"
                            darkIcon="assets/dark/marker.svg"    
                        ></tp-map-toggle>
                    </tp-tooltip>
                </div>

                <div class="heatmap-toggles"><tp-tooltip
                        text="Тепловая карта населения"
                        position="left">
                        <tp-map-toggle
                            [isPressed]="!!(mode.hasMode('population-heatmap') | async)"
                            (pressChange)="onTogglePress($event, 'population-heatmap')"
                            lightIcon="assets/light/population.svg"
                            darkIcon="assets/dark/population.svg"    
                        ></tp-map-toggle></tp-tooltip><tp-tooltip
                        text="Тепловая карта спортивных объектов"
                        position="left">
                        <tp-map-toggle
                            [isPressed]="!!(mode.hasMode('sport-heatmap') | async)"
                            (pressChange)="onTogglePress($event, 'sport-heatmap')"
                            lightIcon="assets/light/runner.svg"
                            darkIcon="assets/dark/runner.svg"    
                        ></tp-map-toggle></tp-tooltip><tp-tooltip
                        text="Пересечения областей"
                        position="left">
                        <tp-map-toggle
                            *ngIf="singleAvailabilityChosen | async"
                            [isPressed]="!!(isObjectIntersectionTogglePressed | async)"
                            (pressChange)="onTogglePress($event, 'object-intersection')"
                            lightIcon="assets/light/intersection.svg"
                            darkIcon="assets/dark/intersection.svg"    
                        ></tp-map-toggle></tp-tooltip></div>
            </div>
        </div>
    </div>

    <ng-container *ngIf="mousePosition | async as mouse">
        <tp-density-info class="density-info"
            *ngIf="mouseDensityEnabled | async"
            [style.transform]="'translate(calc(' + mouse.x + 'px - 50%),calc(' +  mouse.y + 'px - 100% - 10px))'"
            [population]="pointPopulationDensity | async"
            [objects]="pointObjectsDensity | async">
        </tp-density-info>
    </ng-container>
</div>

<!-- <tp-loading-spinner class="loading-spinner" -->
                    <!-- [ngClass]="{ 'shown': loading.isShown | async }"> -->
<!-- </tp-loading-spinner> -->

<tp-loading-screen class="loading-screen"
    [ngClass]="{ shown: loading.isShown | async }">
</tp-loading-screen>
