:host {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 16px;
  height: 16px;
  border: 1px solid var(--color-theme-primary-1000);
  border-radius: 2px;

  transition: var(--transition-default);

  img {
    opacity: 0;

    transition: var(--transition-default);
  }

  &.checked {
    background: var(--color-theme-primary-1000);

    img {
      opacity: 1;
    }
  }
}
