<div class="top-container">
    <tp-completion-input
        class="completion-input"
        placeholder="Введите название спортивного объекта"
        [variants]="nameVariants"
        (searchChange)="onNameSearch($event)">
    </tp-completion-input>

    <tp-tooltip
        [text]="areFiltersOpened ? 'Скрыть фильтры' : 'Раскрыть фильтры'"
        position="left">
        <button class="toggle-filters-button toggle-icon-button"
            (click)="toggleFilters()"
            [ngClass]="{ 'pressed': areFiltersOpened }">
            <img class="icon"
                 [src]="areFiltersOpened
                        ? 'assets/light/filter.svg'
                        : 'assets/dark/filter.svg'"
                 alt="toggle filters">
        </button>
    </tp-tooltip>
</div>

<div class="animated-filter-container"
     *ngIf="areFiltersOpened"
     [@sizeIncrease]>
    <div class="filter-container">
        <div class="filter"
            *ngFor="let filter of filterSources">

            <span class="name">
                {{ filter.name }}
            </span>

            <tp-multiple-select class="select"
                [variants]="filter.variants"
                (variantsSelect)="onChange($event, filter.apiName)">
            </tp-multiple-select>
        </div>

        <tp-tooltip text="Очистить фильтры">
            <button class="remove-button icon-button"
                (click)="clearFilters()">
                <img class="icon"
                     src="assets/bin.svg"
                     alt="remove filters">
            </button>
        </tp-tooltip>

        <button class="filter-button"
            (click)="applyFilterRequest()">
            Отфильтровать объекты
        </button>
    </div>
</div>
