@import '../../../../styles/mixins';

:host {
  display: inline-flex;
  flex-direction: column;

  box-sizing: border-box;
  width: 100%;
  padding: 30px;
  border-radius: 0 0 30px 30px;

  background: var(--color-theme-white-1000);
  box-shadow: var(--shadow-2x);

  .top-container {
    display: flex;
    gap: 30px;

    width: 100%;

    .completion-input {
      flex-grow: 1;
    }

    .toggle-filters-button {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 60px;
      height: 50px;
      border-radius: 4px;

      .icon {
        height: 28px;
      }
    }
  }

  .animated-filter-container {
    .filter-container {
      display: flex;
      flex-wrap: wrap;
      gap: 20px 40px;
      align-items: flex-end;

      padding-top: 30px;

      .filter {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .name {
          @extend %body-2-regular-font;

          color: var(--color-theme-primary-1000);
        }

        .select {
          width: 270px;
        }
      }

      .remove-button {
        padding: 13px;

        .icon {
          height: 21px;
        }
      }

      .filter-button {
        @extend %body-2-regular-font;

        display: flex;
        align-items: center;

        height: 50px;
        padding: 0 15px;
        border-radius: 4px;

        color: var(--color-theme-white-1000);

        background: var(--color-theme-primary-1000);

        transition: var(--transition-default);

        &:hover {
          background: #153FB8;
        }

        &:active {
          background: var(--color-theme-primary-1100);
        }
      }
    }
  }
}
