<div class="top-container">
    <tp-completion-input
        class="completion-input"
        [variants]="nameVariants"
        (searchChange)="onNameSearch($event)">
    </tp-completion-input>

    <button class="toggle-filters-button"
        (click)="toggleFilters()"
        [ngClass]="{ 'close': areFiltersOpened }">
        <img [src]="areFiltersOpened
                    ? 'assets/light/filter.svg'
                    : 'assets/dark/filter.svg'"
             alt="toggle filters">
    </button>
</div>

<div class="filters-container"
     [ngClass]="{ 'hidden': !areFiltersOpened }">
    <div class="filter"
        *ngFor="let filter of filterSources">

        <span class="name">
            {{ filter.name }}
        </span>

        <tp-multiple-select class="select"
            [variants]="filter.variants"
            (variantsSelect)="onChange($event, filter.apiName)">
        </tp-multiple-select>
    </div>

    <button class="remove-button"
        (click)="clearFilters()">
        <img src="assets/bin.svg" alt="remove filters">
    </button>

    <button class="filter-button"
        (click)="applyFilterRequest()">
        Отфильтровать объекты
    </button>
</div>
