<div class="top-container">
    <tp-completion-input
        class="completion-input"
        placeholder="Введите название спортивного объекта"
        [variants]="nameVariants"
        (searchChange)="onNameSearch($event)">
    </tp-completion-input>

    <button class="toggle-filters-button toggle-icon-button"
        (click)="toggleFilters()"
        [ngClass]="{ 'pressed': areFiltersOpened }">
        <img class="icon"
             [src]="areFiltersOpened
                    ? 'assets/light/filter.svg'
                    : 'assets/dark/filter.svg'"
             alt="toggle filters">
    </button>
</div>

<div class="animated-filter-container"
     *ngIf="areFiltersOpened"
     [@heightIncrease]>
    <div class="filter-container">
        <div class="filter"
            *ngFor="let filter of filterSources">

            <span class="name">
                {{ filter.name }}
            </span>

            <tp-multiple-select class="select"
                [variants]="filter.variants"
                (variantsSelect)="onChange($event, filter.apiName)">
            </tp-multiple-select>
        </div>

        <button class="remove-button icon-button"
            (click)="clearFilters()">
            <img class="icon"
                 src="assets/bin.svg"
                 alt="remove filters">
        </button>

        <button class="filter-button"
            (click)="applyFilterRequest()">
            Отфильтровать объекты
        </button>
    </div>
</div>
