@import '../../../styles/mixins';

:host {
  display: flex;
  flex-direction: column;
  gap: 10px;

  box-sizing: border-box;
  padding: 15px;
  border-radius: 10px;

  color: var(--color-theme-primary-1000);

  background: var(--color-theme-white-1000);
  box-shadow: var(--shadow-default);

  .heading-container {
    @extend %body-font;

    display: flex;
    gap: 20px;
    align-items: flex-end;

    font-weight: 500;
    font-size: 12px;

    .icon {
      height: 14px;
    }
  }

  .mark {
    @extend %body-1-regular-font;

    b {
      color: #2D9D23;
      font-weight: bold;

      &.bad {
        color: #BB0101;
      }
    }
  }

  .hint {
    @extend %body-font;

    font-size: 8px;
  }

  .per100k-container {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .heading {
      @extend %body-font;

      font-size: 12px;

      b {
        font-weight: 500;
      }
    }

    .key {
      @extend %body-font;

      font-size: 10px;
    }

    .value {
      @extend %body-font;

      padding: 4px 10px;
      border-radius: 6px;

      font-weight: 500;
      font-size: 12px;

      background: #F0F4FF;
    }
  }

  .open-full-container {
    display: flex;
    justify-content: flex-end;

    width: 100%;

    .open-full {
      @extend %body-2-light-font;

      color: var(--color-theme-primary-1000);
      font-size: 8px;

      transition: var(--transition-default);

      &:hover,
      &:active {
        text-decoration: underline;
      }

      &:active {
        filter: drop-shadow(.1px .1px .3px var(--color-theme-primary-1000));
      }
    }
  }
}
