@import '../../../../styles/mixins';

:host {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  padding-bottom: 20px;
  border-radius: 25px;

  background: var(--color-theme-white-1000);
  box-shadow: var(--shadow-2x);

  .analytics-button {
    @extend %body-font;

    position: absolute;
    top: 50px;
    right: -50px;
    z-index: 1;

    display: flex;
    gap: 5px;
    align-items: center;

    padding: 5px 15px;
    border-radius: 15px;

    color: var(--color-theme-primary-1000);
    font-weight: 500;
    font-size: 12px;

    background: var(--color-theme-white-1000);
    box-shadow: var(--shadow-default);
    cursor: pointer;

    transition: var(--transition-default);

    .icon {
      width: 20px;
      height: 23px;

      background-image: url('../../../../assets/bulb.svg');
    }

    &:hover {
      .icon {
        background-image: url('../../../../assets/lighting-bulb.svg');
      }
    }

    &:active {
      background: var(--color-surface-primary);

      .icon {
        background-image: url('../../../../assets/lighting-bulb.svg');
      }
    }
  }

  .close-button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;

    img {
      height: 12px;

      opacity: .3;

      transition: var(--transition-default);
    }

    &:hover {
      img {
        opacity: 1;
      }
    }

    &:active {
      img {
        filter: drop-shadow(.1px .1px 1px var(--color-theme-primary-1000));
      }
    }
  }

  .content-container {
    display: flex;
    flex-direction: column;
    gap: 30px;

    margin-right: 70px;
    margin-left: 20px;

    .metric-container {
      display: flex;
      flex-direction: column;
      gap: 15px;
      align-items: flex-start;

      .number {
        @extend %body-font;

        position: relative;

        padding-right: 40px;
        padding-left: 10px;
        border-radius: 10px;

        color: var(--color-theme-white-1000);
        font-weight: 600;
        font-size: 72px;
        line-height: 80px;

        background: var(--color-theme-primary-1000);

        .illustration {
          position: absolute;
          top: 3px;
        }

        .metric-units {
          font-size: 30px;
        }
      }

      .units {
        @extend %body-2-medium-font;

        color: var(--color-theme-primary-1000);
      }
    }

    .area-types-container {
      .number {
        .illustration {
          right: -65px;

          height: 80px;
        }
      }
    }

    .sport-kinds-container {
      .number {
        .illustration {
          right: -50px;

          height: 80px;
        }
      }
    }

    .area-square-container {
      .number {
        .illustration {
          top: 10px;
          right: -60px;

          height: 60px;
        }
      }
    }
  }

  .controls {
    display: flex;

    box-sizing: border-box;
    width: 100%;
    margin-top: 15px;
    padding: 0 20px;

    .save-button {
      transition: var(--transition-default);

      .icon {
        width: 20px;
        height: 20px;

        background-image: url('../../../../assets/in-square/plus.svg');

        &.saving {
          background-image: url('../../../../assets/in-square/tick.svg');
        }
      }

      &:disabled {
        opacity: .2;
      }

      &:active {
        &:not(:disabled) {
          filter: drop-shadow(.1px .1px 1px var(--color-theme-primary-1000));
        }
      }

      &:hover {
        &:not(:disabled) {
          filter: drop-shadow(.1px .1px .3px var(--color-theme-primary-1000));
        }
      }
    }

    &.general-controls {
      display: flex;
      align-items: center;
      justify-content: space-around;

      .save-button, .clear-button {
        display: flex;
        gap: 5px;
        align-items: center;

        span {
          @extend %body-font;

          width: 70px;

          color: var(--color-theme-primary-1000);
          font-weight: 300;
          font-size: 12px;

          transition: var(--transition-default);
        }
      }

      .clear-button {
        transition: var(--transition-default);

        .icon {
          width: 26px;
          height: 26px;

          background-image: url('../../../../assets/polygon-remove/default.svg');
        }

        &:hover,
        &:active {
          filter: drop-shadow(.1px .1px .3px var(--color-theme-primary-1000));
        }

        &:active {
          .icon {
            background-image: url('../../../../assets/polygon-remove/pressed.svg');
          }
        }
      }
    }

    &.save-controls {
      gap: 5px;
      align-items: center;

      .input {
        @extend %body-font;

        flex-grow: 1;

        box-sizing: border-box;
        width: 0;
        height: 30px;
        padding: 0 15px;
        border-radius: 5px;

        color: var(--color-theme-primary-1000);
        font-weight: 300;
        font-size: 12px;

        background: var(--color-theme-white-1000);
        box-shadow: var(--shadow-default);

        transition: var(--transition-default);

        &:hover,
        &:focus {
          box-shadow: var(--shadow-input-active);
        }

        &::placeholder {
          color: var(--color-theme-primary-400);
        }
      }

      .close-input-button {
        padding: 3px;
        overflow: hidden;

        transition: var(--transition-default);

        img {
          width: 12px;

          opacity: .3;

          transition: var(--transition-default);
          transition: width 0;
        }

        &:hover {
          img {
            opacity: 1;
          }
        }

        &:active {
          img {
            filter: drop-shadow(.1px .1px 1px var(--color-theme-primary-1000));
          }
        }
      }
    }
  }
}
