// Import to fix bug with flying markers
@import 'mapbox-gl/dist/mapbox-gl.css';

body {
  margin: 0;
}

input {
  border: 0;

  background: transparent;
  outline: none;
}

button {
  border: 0;

  background: transparent;
  outline: none;
}

@for $i from 1 to 6 {
  h#{$i} {
    margin: 0;
  }
}

.toggle-icon-button {
  background: var(--color-theme-white-1000);
  box-shadow: var(--shadow-default);

  transition: var(--transition-default);

  .icon {
    transition: var(--transition-default);
  }

  &.pressed {
    background: var(--color-theme-primary-1000);
  }

  &.disabled {
    background: rgba(255, 255, 255, .8);

    .icon {
      opacity: .2;
    }
  }

  &:hover {
    &:not(.disabled) {
      box-shadow: var(--shadow-input-active);
    }
  }
}

.icon-button {
  .icon {
    transition: var(--transition-default);
  }

  &:hover {
    .icon {
      filter: drop-shadow(.1px .1px .3px var(--color-theme-primary-1000));
    }
  }

  &:active {
    .icon {
      filter: drop-shadow(.1px .1px 1px var(--color-theme-primary-1000));
    }
  }
}
