// Import to fix bug with flying markers
@import 'mapbox-gl/dist/mapbox-gl.css';

body {
  margin: 0;
}

input {
  border: 0;

  background: transparent;
  outline: none;
}

button {
  border: 0;

  background: transparent;
  outline: none;
}

@for $i from 1 to 6 {
  h#{$i} {
    margin: 0;
  }
}
