%body-font {
  font-family: Inter, sans-serif;
}

%body-1-light-font {
  @extend %body-font;

  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
}

%body-1-regular-font {
  @extend %body-font;

  font-size: 18px;
  line-height: 22px;
}

%body-1-medium-font {
  @extend %body-font;

  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

%body-1-semibold-font {
  @extend %body-font;

  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

%body-2-light-font {
  @extend %body-font;

  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

%body-2-regular-font {
  @extend %body-font;

  font-size: 16px;
  line-height: 19px;
}

%body-2-medium-font {
  @extend %body-font;

  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

%body-2-semibold-font {
  @extend %body-font;

  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

%headline-1-font {
  @extend %body-font;

  font-weight: 600;
  font-size: 48px;
}

%headline-2-font {
  @extend %body-font;

  font-size: 36px;
}

%headline-3-font {
  @extend %body-font;

  font-weight: 600;
  font-size: 24px;
}
