.map {
  height: 100%;

  ::ng-deep {
    .mapboxgl-control-container {
      display: none;
    }

    .marker {
      width: 30px;

      cursor: pointer;
    }

    .mapboxgl-popup {
      // stylelint-disable declaration-no-important
      max-width: none !important;

      .mapboxgl-popup-content {
        padding: 0;
        border-radius: 0;

        background: none;
        box-shadow: none;
      }
    }

    .mapboxgl-popup-tip {
      display: none;
    }
  }

  // stylelint-disable-next-line
  &.mode-draw_polygon {
    ::ng-deep {
      .mapboxgl-canvas-container {
        cursor: crosshair;
      }
    }
  }
}
