@import '../../../../styles/mixins';

:host {
  display: flex;
  flex-direction: column;
  gap: 20px;

  height: 100%;

  .metrics {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    padding-top: 20px;

    .metric-container {
      display: flex;
      flex-direction: column;

      .number {
        @extend %headline-1-font;

        display: flex;
        gap: 5px;
        align-items: flex-end;

        color: var(--color-theme-primary-1000);
        font-size: 72px;

        .units {
          @extend %headline-1-font;

          font-size: 36px;

          transform: translateY(-10px);
        }
      }

      .metric-hint {
        @extend %body-2-medium-font;

        display: inline;

        box-sizing: border-box;
        padding: 0 10px;
        border-radius: 3px;

        color: var(--color-theme-white-1000);
        line-height: 24px;

        background: var(--color-theme-primary-1000);
      }
    }
  }

  .about-container {
    display: flex;
    flex-direction: column;

    .title {
      @extend %body-font;

      color: var(--color-theme-primary-1000);
      font-weight: 500;
      font-size: 24px;
    }
  }
}
