<div class="mark-container">
    <div class="number-container">
        <b>{{ mark | async }}</b> / 10
    </div>
    <div class="hint-container">
        Общая оценка с учетом 5 показателей
    </div>
</div>

<div class="metrics-container">
    <span class="hint">
        На 100 000 человек
    </span>
    <div class="metrics">
        <div class="metric-container">
            <div class="number-container">
                <span class="number">
                    ≈{{ areasCount | async }}
                </span>
                <tp-tooltip>
                    <img class="indicator" src="assets/in-circle/exclamation.svg">
                </tp-tooltip>
            </div>
            <span class="metric-hint">спортивных зон</span>
        </div>

        <div class="metric-container">
            <div class="number-container">
                <span class="number">
                    ≈{{ sportKindsCount | async }}
                </span>
                <tp-tooltip>
                    <img class="indicator" src="assets/in-circle/exclamation.svg">
                </tp-tooltip>
            </div>
            <span class="metric-hint">видов спортивных услуг</span>
        </div>

        <div class="metric-container">
            <div class="number-container">
                <span class="number">
                    ≈{{ areasSquare | async | area }}
                    <span class="units">
                        м <sup>2</sup>
                    </span>
                </span>
                <tp-tooltip>
                    <img class="indicator" src="assets/in-circle/exclamation.svg">
                </tp-tooltip>
            </div>
            <span class="metric-hint">площадь спортивных зон</span>
        </div>
    </div>
</div>

<div class="about-container">
    <h1 class="title">
        Здесь будет аналитическая сводка о выбранной территории...
    </h1>
</div>
