@import '../../../../styles/mixins';

:host {
  @extend %body-font;

  display: flex;
  gap: 10px;
  align-items: center;

  box-sizing: border-box;
  padding: 5px 10px;
  border-radius: 10px;

  color: var(--color-theme-primary-1000);

  background: var(--color-theme-white-1000);
  box-shadow: var(--shadow-default);

  .density-container {
    display: flex;
    flex-direction: column;

    .heading-container {
      display: flex;
      gap: 3px;
      align-items: center;

      .heading {
        font-size: 12px;
      }

      .icon {
        height: 10px;
      }
    }

    .number {
      font-weight: 600;
      font-size: 14px;
    }
  }

  hr {
    width: 1px;
    height: 30px;
    border: 0;

    background: var(--color-theme-primary-400);
  }
}
