<div class="input-container"
     [ngClass]="{ 'opened': isOpened | async }">
    <span class="current-value"
       [ngClass]="{ 'hidden': isOpened | async }"
        (click)="toggleSelect()">
        <ng-container *ngIf="!!(allVariantsSelected | async); else selectedCount">
            Все
        </ng-container>

        <ng-template #selectedCount>
            Выбрано значений: <b>{{ variantsSelectedCount | async }}</b>
        </ng-template>
    </span>

    <input type="text" #searchInput
           [ngClass]="{ 'hidden': (isOpened | async) === null || (isOpened | async) === false }"
           [formControl]="searchControl">

    <div class="arrow-container"
        (click)="toggleSelect()">
        <img src="assets/arrow.svg" class="arrow">
    </div>
</div>

<cdk-virtual-scroll-viewport class="variants-viewport"
    *ngIf="isOpened | async"
    [@sizeIncrease]
    itemSize="48"
    [minBufferPx]="variantsMaxHeight * 300"
    [maxBufferPx]="variantsMaxHeight * 300">
        <div class="variant"
            (click)="selectAll()">
            Все
            <tp-checkbox class="checkbox"
                [value]="!!(allVariantsSelected | async)">
            </tp-checkbox>
        </div>

        <div class="variant"
            *cdkVirtualFor="let variant of variantsSubject | async; index as i"
            (click)="selectVariant(i, !variant.selected)"
            [ngClass]="{ 'hidden': !variant.shown }">
            {{ variant.name }}
            <tp-checkbox class="checkbox"
                [value]="variant.selected">
            </tp-checkbox>
        </div>
</cdk-virtual-scroll-viewport>
