<div class="input-container"
     [ngClass]="{ 'opened': isOpened | async }">
    <span class="current-value"
       [ngClass]="{ 'hidden': isOpened | async }"
        (click)="toggleSelect()">
        <ng-container *ngIf="!!(allVariantsSelected | async); else selectedCount">
            Все
        </ng-container>

        <ng-template #selectedCount>
            Выбрано значений: <b>{{ variantsSelectedCount | async }}</b>
        </ng-template>
    </span>

    <input type="text" #searchInput
           [ngClass]="{ 'hidden': (isOpened | async) === null || (isOpened | async) === false }"
           [formControl]="searchControl">

    <div class="arrow-container"
        (click)="toggleSelect()">
        <img src="assets/arrow.svg" class="arrow">
    </div>
</div>

<cdk-virtual-scroll-viewport class="variants-viewport"
    *ngIf="isOpened | async"
    [@sizeIncrease]
    itemSize="48"
    [minBufferPx]="variantsBuffer"
    [maxBufferPx]="variantsBuffer">
        <div class="variant"
            (click)="selectAll()">
            Все
            <tp-checkbox class="checkbox"
                [value]="!!(allVariantsSelected | async)">
            </tp-checkbox>
        </div>

        <div class="variant"
            *cdkVirtualFor="let shownVariant of shownVariants | async"
            (click)="selectVariant(shownVariant.index)">
            {{ shownVariant.variant.name }}
            <!-- eslint-disable -->
            <tp-checkbox class="checkbox"
                [value]="!!(isVariantSelected(shownVariant.index) | async)">
            </tp-checkbox>
            <!-- eslint-enable -->
        </div>
</cdk-virtual-scroll-viewport>
