<div class="top-container">
    <h1 class="title">Работа со слоями</h1>

    <button class="close-button"
        (click)="onCloseClick()">
        <img src="assets/cross.svg" alt="close">
    </button>
</div>

<div class="content">
    <div class="mode-buttons">
        <button [ngClass]="{ 'selected': (mode | async) === 'new' }"
            (click)="mode.next('new')">
            создать новый
        </button>
        <button [ngClass]="{ 'selected': (mode | async) === 'existing' }"
            (click)="mode.next('existing')">
            сохраненные
        </button>
    </div>

    <div class="mode-content" 
        [ngSwitch]="mode | async">
        <div class="new" *ngSwitchCase="'new'">
            <div class="top-container">
                <input class="new-name-input" type="text"
                    placeholder="Название слоя"
                    [formControl]="newPolygonName">

                <button class="add"
                    [disabled]="!(newPolygonName.valueChanges | async)?.length
                                 || (newPolygonSubject | async) !== null
                                 || (selectPolygon | async)"
                    (click)="selectPolygon.next(newPolygonName.value)">
                    <ng-container *ngIf="(selectPolygon | async) === null">
                        <span class="plus"> 
                            + 
                        </span>
                        <span class="hint">добавить участок</span>
                    </ng-container>

                    <span class="hint"
                        *ngIf="selectPolygon | async">
                        выделите участок на карте
                    </span>
                </button>

                <div class="current-polygon"
                    *ngIf="newPolygonSubject | async as polygon">
                    <tp-saved-polygon class="saved-polygon"
                        [polygon]="polygon">
                    </tp-saved-polygon>

                    <button class="erase-button"
                        (click)="clearNewPolygon()">
                        <img src="assets/bin.svg" alt="erase">
                    </button>
                </div>
            </div>

            <div class="save-button-container">
                <button class="save-button"
                    (click)="saveNewPolygon()"
                    [disabled]="(newPolygonSubject | async) === null">
                    Сохранить слой
                </button>
            </div>
        </div>

        <div class="existing" *ngSwitchCase="'existing'">
            <tp-search-input class="search-input"
                [formControl]="searchInput">
            </tp-search-input>

            <div class="polygon-container">
                <div class="polygon" 
                     *ngFor="let polygon of shownPolygons | async">
                    <tp-saved-polygon class="saved-polygon"
                        [polygon]="polygon.polygon">
                    </tp-saved-polygon>

                    <div class="buttons-container">
                        <tp-radiobutton
                            [enabled]="(chosenPolygonIndex | async) === polygon.index"
                            (enabledChange)="choosePolygon(polygon.index, $event)">
                        </tp-radiobutton>

                        <button class="remove-button"
                            (click)="removePolygon(polygon.index)">
                            <img src="assets/bin.svg" alt="remove">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
