<div class="top-container">
    <input class="new-name-input" type="text"
        placeholder="Название слоя"
        [formControl]="nameControl"
        #nameInput>

    <button class="add"
        [disabled]="!(nameControl.valueChanges | async)?.length
                     || (polygonSubject | async) !== null
                     || (drawPolygon | async)"
        (click)="drawPolygon.next(true)">
        <ng-container *ngIf="(drawPolygon | async) === false">
            <span class="plus"> 
                + 
            </span>
            <span class="hint">добавить участок</span>
        </ng-container>

        <span class="hint"
            *ngIf="drawPolygon | async">
            выделите участок на карте
        </span>
    </button>

    <div class="current-polygon"
        *ngIf="polygonSubject | async as polygon">
        <tp-saved-polygon class="saved-polygon"
            [polygon]="polygon">
        </tp-saved-polygon>

        <button class="erase-button"
            (click)="clearNewPolygon()">
            <img src="assets/bin.svg" alt="erase">
        </button>
    </div>
</div>

<div class="save-button-container">
    <button class="save-button"
        (click)="saveNewPolygon()"
        [disabled]="(polygonSubject | async) === null">
        Сохранить слой
    </button>
</div>
