@import '../../../../styles/mixins';

:host {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: space-between;

  height: 100%;

  .top-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    height: 0;

    .new-name-input {
      @extend %body-1-regular-font;

      box-sizing: border-box;
      width: 100%;
      height: 50px;
      min-height: 50px;
      padding: 0 20px;
      border-radius: 10px;

      color: var(--color-theme-primary-1000);

      background: var(--color-theme-white-1000);
      box-shadow: var(--shadow-default);

      transition: var(--transition-default);

      &::placeholder {
        color: var(--color-theme-primary-400);
      }

      &:disabled {
        color: var(--color-theme-primary-800);
      }

      &:hover,
      &:focus {
        &:not(:disabled) {
          box-shadow: var(--shadow-input-active);
        }
      }
    }

    .add {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      width: 350px;
      height: 130px;
      min-height: 130px;
      border-radius: 10px;

      color: var(--color-theme-primary-1000);

      background: var(--color-theme-white-1000);
      box-shadow: var(--shadow-default);

      .plus {
        @extend %headline-2-font;
        font-size: 56px;

        transition: var(--transition-default);
      }

      .hint {
        @extend %body-1-regular-font;

        transition: var(--transition-default);
      }

      &:disabled {
        color: var(--color-theme-primary-400);
      }

      &:hover {
        &:not(:disabled) {
          * {
            filter: drop-shadow(.1px .1px 1px var(--color-theme-primary-1000));
          }
        }
      }
    }

    .current-polygon {
      display: flex;
      flex-grow: 1;
      align-items: flex-start;
      justify-content: space-between;

      width: 100%;
      overflow-y: auto;

      scrollbar-width: none;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        display: none;
      }

    }
  }

  .save-button-container {
    display: flex;
    justify-content: flex-end;

    width: 100%;

    .save-button {
      @extend %body-1-medium-font;

      padding: 13px;
      border-radius: 8px;

      color: var(--color-theme-white-1000);

      background: var(--color-theme-primary-1000);
      box-shadow: var(--shadow-default);

      transition: var(--transition-default);

      &:disabled {
        color: var(--color-neutral-100);

        background: var(--color-surface-primary);
        box-shadow: var(--shadow-inner);
      }

      &:hover {
        &:not(:disabled) {
          background: #153FB8;
        }
      }
    }
  }
}
